{% extends "vaccinationmanagement/includes/base.html" %}

{% block content %}
    <h1>Patients</h1>
    <div class="container">
        <form class="add-form" action="{% url 'add-dose' patient_id=1 vaccination_id=1 %}" method="post">
            {% csrf_token %}
            <div class="form-div">
                <label for="">Dose number</label>
                <input type="text" name="dose_nr" value="">
            </div>
            <div class="form-div form-date-1">
                <label for="">Date</label>
                <input type="date" name="date1" value="">
            </div>
            <div class="form-div form-date-2">
                <label for="">Date for next dose</label>
                <input type="date" name="date2" value="">
            </div>
            <div class="form-div form-check">
                <label for="">Last dose (check the box instead of filling in date for next dose)</label>
                <input type="checkbox" name="done" value="done">
            </div>
            <div class="form-div form-submit">
                <input type="hidden" name="patient_id" value="{{patient_id}}">
                <input class="button" type="submit" value="add dose">
        </form>
    </div>
{% endblock content %}
