{% load vaccinationmanagement_extras %}
<table>
    <thead>
        <tr>
            <th>VACCIN</th>
            <th>NUMBER OF DOSES TAKEN</th>
            <th>DATE FOR LATEST DOSE</th>
            <th>DATE FOR NEXT DOSE</th>
            <th>NOTE</th>
            <th></th>
        </tr>
    </thead>
{% for vaccin_id in vaccinations %}
{% for vaccination in vaccinations|get_item:vaccin_id %}
<tbody>
    <tr>
        <td>{{ vaccination.vaccin }}</td>
        <td>{{ vaccination.dose_nr }}</td>
        <td>{{ vaccination.date_of_vaccination }}</td>
        {% if vaccination.date_of_next_vaccination is None %}
        <td>Done</td>
        {% else %}
            {% if vaccination.uppcomming_booster %}
            <td class="red">{{ vaccination.date_of_next_vaccination }}</td>
            {% else %}
            <td>{{ vaccination.date_of_next_vaccination }}</td>
            {% endif %}
        {% endif %}
        <td>{{ vaccination.note }}</td>
        {% if vaccination.date_of_next_vaccination is None %}
        <td><a href="{% url 'vaccination-history' patient_id=patient_id vaccin_id=vaccination.vaccin.vaccin_id %}">VIEW HISTORY</a></td>
        {% else %}
        <td><a href="{% url 'add-dose' patient_id=patient_id vaccination_id=vaccination.vaccination_id %}">ADD DOSE</a><br><a href="{% url 'vaccination-history' patient_id=patient_id vaccin_id=vaccination.vaccin.vaccin_id %}">VIEW HISTORY</a></td>
        {% endif %}
    </tr>
</tbody>{% endfor %}
{% endfor %}
</table>
