{% extends "vaccinationmanagement/includes/base.html" %}

{% block content %}
<div class="front-page-header">
    <div class="front-page-text">
        <h1>Welcome to Vaccin Management</h1>
    </div>
</div>
<div class="container">
    {% if start_page %}
    <h2>You have to login to continue.</h2>
    <a class="button front-page-button" href="{% url 'login-staff' %}">Login as medical staff</a>
    <a class="button front-page-button" href="{% url 'login-private' %}">Login as private person</a>
    {% endif %}
    {% if staff_login %}
        <form class="site-form" action="{% url 'login-staff'%}" method="post">
            {% csrf_token %}
            {{ form }}
            <input class="button" type="submit" value="Login">
        </form>
        <a href="{% url 'login-private' %}">Login as private person</a>
    {% endif %}
    {% if private_login %}
        <form class="site-form" action="{% url 'login-staff'%}" method="post">
            {% csrf_token %}
            {{ form }}
            <input class="button" type="submit" value="Login">
        </form>
        <a href="{% url 'login-staff' %}">Login as medical staff</a>
    {% endif %}
</div>


{% endblock content %}
