{% extends "vaccinationmanagement/includes/base.html" %}

{% block content %}
<div class="front-page-header">
    {% if start_page %}
    <div class="front-page-text">
        <h1>Vaccinantion <br>Management</h1>
        <p>Makes it easier to keep track of your vaccinations.</p>
        <a class="button front-page-button" href="{% url 'login-staff' %}">Login as medical staff</a>
        <a class="button front-page-button" href="{% url 'login-private' %}">Login as private person</a>
    </div>
        {% endif %}
            {% if private_login %}
            <div class="login-container">
                <h2>Log in as private person</h2>
                {% for message in messages %}
                         <div class="alert alert-success">
                             {{ message }}
                         </div>
                 {% endfor %}
                <form class="site-form" action="{% url 'login-private' %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input class="button front-page-button" type="submit" value="Login">
                </form>
                <a href="{% url 'login-staff' %}">Login as medical staff</a>
            </div>
            {% endif %}
            {% if staff_login %}
            <div class="login-container">
                <h2>Log in as medical staff</h2>
                {% for message in messages %}
                         <div class="alert alert-success">
                             {{ message }}
                         </div>
                 {% endfor %}
                <form class="site-form" action="{% url 'login-staff' %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input class="button front-page-button" type="submit" value="Login">
                </form>
                <a href="{% url 'login-private' %}">Login as private person</a>
            {% endif %}
            </div>
    </div>



{% endblock content %}
