{% extends "vaccinationmanagement/includes/base.html" %}

{% block content %}
    <h1>Patients</h1>
    <div class="search-container">
        <form class="search" action="{% url 'patients' %}" method="post">
            {% csrf_token %}
            <input type="text" name="search-patient">
            <input class="button" type="submit" value="search">
            <a class="button" href="{% url 'add-patient' %}">+ add patient</a>
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>SOCIAL SECURITY NUMBER</th>
                <th>NAME</th>
                <th>UPPCOMMING BOOSTER VACCINATION</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        {% for patient in staffs_patients %}
        <tbody>
            <tr>
                <td>{{ patient.social_security_nr }}</td>
                <td>{{patient.first_name}} {{patient.last_name}}</td>
                {% if patient.upcomming_booster %}
                <td>Yes</td>
                {% else %}
                <td></td>
                {% endif %}
                <td><a href="{% url 'patient' patient_id=patient.patient_id %}">GO TO PATIENT</a></td>
                <td><a href="{% url 'remove-patient' patient_id=patient.patient_id %}"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
        </tbody>
    {% endfor %}
</table>
<p class="allert"><i class="fas fa-exclamation-circle"></i>Uppcomming booster vaccination refers to booster vaccination within two months</p>
{% endblock content %}
