{% extends "vaccinationmanagement/includes/base.html" %}

{% block content %}
    <h1>Patients</h1>
    <form class="search" action="{% url 'patients' %}" method="post">
        {% csrf_token %}
        <input type="text" name="search-patient">
        <input type="submit" value="search">
    </form>
    <a class="button" href="{% url 'add-patient' %}">+ ADD PATIENT</a>
    <table>
    <tr>
        <th>SOCIAL SECURITY NUMBER</th>
        <th>NAME</th>
        <th>UPPCOMMING BOOSTER VACCINATION</th>
        <th></th>
    </tr>
    {% if searched %}
    {% for patient in searched_patients %}
    <tr>
        <td>{{ patient.social_security_nr }}</td>
        <td>{{patient.first_name}} {{patient.last_name}}</td>
        <td>Yes</td>
        <td><a href="{% url 'patient' patient_id=patient.patient_id %}">GO TO PATIENT</a></td>
    </tr>
    {% endfor %}
    {% else %}
        {% for patient in data %}
    <tr>
        <td>{{ patient.social_security_nr }}</td>
        <td>{{patient.first_name}} {{patient.last_name}}</td>
        <td>Yes</td>
        <td><a href="{% url 'patient' patient_id=patient.patient_id %}">GO TO PATIENT</a></td>
    </tr>
    {% endfor %}
{% endif %}
</table>
<p>Uppcomming booster vaccination refers to booster vaccination within two months</p>
{% endblock content %}
