{% extends "vaccinationmanagement/includes/base.html" %}

{% block content %}
    <h1>Patients</h1>
    <form class="search" action="{% url 'search-patient' patient_id=1 %}" method="post">
        {% csrf_token %}
        <input type="text" value="search">
        <input type="submit" value="search">
    </form>
    <a class="button" href="{% url 'add-patient' %}">+ ADD PATIENT</a>
    <table>
    <tr>
        <th>SOCIAL SECURITY NUMBER</th>
        <th>NAME</th>
        <th>UPPCOMMING BOOSTER VACCINATION</th>
        <th></th>
    </tr>
<!-- <% for (const row of showAll) { %> -->
    <tr>
        <td>111111-xxxx</td>
        <td>Per Persson</td>
        <td>Yes</td>
        <td><a href="{% url 'patient' patient_id=1 %}">GO TO PATIENT</a></td>
    </tr>
    <tr>
        <td>111111-xxxx</td>
        <td>Per Persson</td>
        <td>Yes</td>
        <td>GO TO PATIENT</td>
    </tr>
<!-- <% }; %> -->
</table>
<p>Uppcomming booster vaccination refers to booster vaccination within two months</p>
{% endblock content %}
