{% extends "vaccinationmanagement/includes/base.html" %}

{% block content %}
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <p>Your are logged in as medical staff</p>
    <!-- <div class="container">
        <h2>Calendar</h2>
        <p>Check the calendar to see your patients upcomming booster vaccinations.</p>
    </div> -->
    <a class="button staff-front-page-button" href="{% url 'patients' %}">Your patients</a>
    <a class="button staff-front-page-button" href="{% url 'vaccins' %}">List of vaccins</a>
{% endblock content %}
