{% extends "vaccinationmanagement/includes/base.html" %}

{% block content %}
    <h1>Your Vaccinations</h1>
    <form class="search" action="{% url 'vaccinations' %}" method="post">
        {% csrf_token %}
        <input type="text" name="search-vaccinations">
        <input type="submit" value="search">
    </form>
    <table>
    <tr>
        <th>VACCIN</th>
        <th>NUMBER OF DOSES TAKEN</th>
        <th>DATE FOR LATEST DOSE</th>
        <th>DATE FOR NEXT DOSE</th>
        <th></th>
    </tr>
{% if searched %}
{% for vaccination in searched_vaccinations %}
<tr>
    <td>{{ vaccination.vaccin }}</td>
    <td>{{ vaccination.dose_nr }}</td>
    <td>{{ vaccination.date_of_vaccination }}</td>
    <td>{{ vaccination.date_of_next_vaccination }}</td>
</tr>
{% endfor %}
{% else %}
{% for vaccination in vaccinations %}
    <tr>
        <td>{{ vaccination.vaccin }}</td>
        <td>{{ vaccination.dose_nr }}</td>
        <td>{{ vaccination.date_of_vaccination }}</td>
        <td>{{ vaccination.date_of_next_vaccination }}</td>
    </tr>
{% endfor %}
{% endif %}
</table>
<p>Uppcomming booster vaccination within 2 months are marked with red.</p>
{% endblock content %}
